<!DOCTYPE html>
<html lang="es">
<head>
    <!-- Formato de codificacion -->
    <meta charset="utf-8">

    <!-- Caracteristicas basicas de proporcion con respecto al dispositivo -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Titulo de la pestaña -->
    <title>Contador</title>

</head>
<body>
<main>
    <div class="flex">
        <!-- Titulo bienvenida -->
        <div class="container-fluid" style="height: 100vh; width: 100vw; background-color: aqua; color: black; text-align: center; padding-top: 40vh;">
            <h1>Contador de clicks</h1>
            <p>SI_08</p>
            <p class="muted">federico Guerrero</p>
            <!-- Superficie para dar clicks -->
            <div class="container-fluid" id="contador" style="background-color: aquamarine; color: black; font-size: 100px; text-align: center; cursor: pointer;">
                0
            </div>
        </div>

    </div>

    <!-- script para el contador de clicks -->
    <script>
        // contador de clicks
        let contador = 0;

        // funcion para sumar clicks
        function sumar(){
            // Aumenta el contador
            contador++;

            // Muestra el contador
            document.getElementById("contador").innerHTML = contador;
            
            // Mensajes de alerta
            if(contador==1){
                alert("CLICKEASTE 1 VEZ. ve a hacer otra cosa con tu vida")
            }
            if(contador==2){
                alert("EN SERIO VAS A SEGUIR?")
            }
            if(contador==3){
                alert("COMO BOBO TAMBIEN")
            }
            if(contador==4){
                alert("YA HAGA LO QUE QUIERA")
            }
        }   

        // Evento para el contador
        document.getElementById("contador").addEventListener("click", sumar);
    </script>
</main>    
    
</body>
    
</html>
